*.pub
*.un~
*.sh~
*.json
AGENTS.md
*.zip
.claude/
.mimocode/
.planning/
.trunk/
.vscode/
docs/
node_modules/
.atl/
pack*
instalador.sh
pacote.bat
testsprite_tests/tmp/
testsprite_tests/tmp/config.json
*.py